.App {
    text-align: center;
    font-family: "Montserrat", sans-serif !important;
  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  
    .qr-reader-wrapper {
      width: 80%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  }
  